*{
  margin: 0;
  padding: 0;
}
.b1{
  transition: width 2s;
  transition:  color 5s;
}
@media (max-width:500px){
  nav {
    margin: 0 !important;
  }
  .img-footer {
    width: 70px;
    height: 70px;
  }
}